<%= form_for @message, html: {class: "form-horizontal"} do |f| %>   
  <div class="form-group">  
    <div class="controls"> 
    <%=f.label :content, class: "control-label"%>
    <%= f.text_area :content, placeholder: "Frankie loves messages. Leave one here.", value: @message.content, class: "form-control", rows: "3" %>
    </div>  
  </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">  
    <div class="pull-right">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>       
<% end %>