			<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
			<div class="form-group">	
				<%=f.label :name, class: "control-label"	%>
				<%= f.text_field :name, class: "col-lg-6 form-control", id: "focusedInput content", placeholder: "Name" %>
			</div>
			<div class="form-group">	
				<%=f.label :location, class: "control-label"	%>	
				<%= f.text_field :location, class: "form-control", placeholder: "Location" %>
			</div>
			<div class="form-group">	
				<%= f.fields_for :message do |ff| %>
					<%= ff.label :content, class: "control-label"	%>
					<%= ff.text_area :content, class: "form-control", rows: "3", placeholder: "Leave a message here!" %>
  			<% end %>	
		  </div>
			<div class="form-group">
				<div class="pull-right">
				<%= f.submit 'Submit', class: "btn btn-primary" %>
				</div>
			</div>
			<% end %>