<!DOCTYPE html>
<html>
<head>
  <title>Twilio Textr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand">Guest Book</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
		      
	    	</ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="container">

	  <div class="jumbotron">
	    <h1>Thanks for visiting!</h1>
	    <p class="lead">Feel free to leave a message</p>
	  </div>

					<%= yield %>

		<div class="clearfix"></div>
	  <div class="footer">
	  		<div class="pull-right">
	    		<p><a href="https://github.com/rosiehoyem/guest-book">GitHub Repository</a>  |  <a href="https://github.com/rosiehoyem/guest-book/tree/master/coverage">Test Coverage</a>  |  &copy; Rosie Hoyem</p>
	    	</div>
	  </div>

	</div> <!-- /container -->

</body>
</html>
